@model Market.Data.Models.Order
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<section class="order-section">
    <h1>@Localizer["H1Title"]</h1>

    <table>
        <thead>
            <tr>
                <th>@Localizer["Property"]</th>
                <th>@Localizer["Value"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Localizer["Title"]</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>@Localizer["Status"]</td>
                <td>@(Model.Status == "Accepted" ? Localizer["Accepted"] : Model.Status == "Denied" ? Localizer["Denied"] : Model.Status == "Delivered" ? Localizer["Delivered"] : Localizer["None"])</td>
            </tr>
            <tr>
                <td>@Localizer["Quantity"]</td>
                <td>@Model.Quantity</td>
            </tr>
            <tr>
                <td>@Localizer["Price"]</td>
                <td>@Model.Price BGN</td>
            </tr>
            <tr>
                <td>@Localizer["DateOrdered"]</td>
                <td>@Model.DateOrdered.ToString("f")</td>
            </tr>
            <tr>
                <td>@Localizer["DateDelivered"]</td>
                <td>@(Model.DateDelivered.HasValue ? Model.DateDelivered.Value.ToString("f") : Localizer["NotDelivered"])</td>
            </tr>
        </tbody>
    </table>

    <h2>@Localizer["BillingDetails"]</h2>

    <table>
        <tbody>
            <tr>
                <th>@Localizer["FullName"]</th>
                <td>@Model.BillingDetails?.FullName</td>
            </tr>
            <tr>
                <th>@Localizer["Address"]</th>
                <td>@Model.BillingDetails?.Address</td>
            </tr>
            <tr>
                <th>@Localizer["City"]</th>
                <td>@Model.BillingDetails?.City</td>
            </tr>
            <tr>
                <th>@Localizer["PostalCode"]</th>
                <td>@Model.BillingDetails?.PostalCode</td>
            </tr>
            <tr>
                <th>@Localizer["PhoneNumber"]</th>
                <td>@Model.BillingDetails?.PhoneNumber</td>
            </tr>
            <tr>
                <th>@Localizer["Email"]</th>
                <td>@Model.BillingDetails?.Email</td>
            </tr>
        </tbody>
    </table>
</section>
