@using Market.Models.DTO
@model List<OrderDTO>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}


<div class="orders-container">
    <div class="left">
        <h2>
            @Localizer["IncomingOrders"]
        </h2>
        <p>@Localizer["SectionText1"]</p>
        <hr />
        <br />
        <div class="orders gapped scrollable" style="height: 80%;">
            @foreach (OrderDTO order in Model.Where(x => x.Status != "Accepted" && x.Status != "Denied" && x.Status != "Delivered").Reverse().ToList())
            {
                <partial name="_OrderPartial" model="@order" />
            }
            @foreach (OrderDTO order in Model.Where(x => x.Status == "Denied").Reverse().ToList())
            {
                <partial name="_DeniedOrderPartial" model="@order" />
            }
        </div>
    </div>
    <div class="money orders-index-page">
        <partial name="_StatisticPartial" model="@Model"/>
    </div>
    <div class="accepted">
        <h2>
            @Localizer["AcceptedOrders"]
        </h2>
        <p>@Localizer["SectionText2"]</p>
        <hr />
        <br />
        <div class="gapped scrollable" style="height: 92%;">
            @foreach (OrderDTO order in Model.Where(x => x.Status == "Accepted" || x.Status == "Delivered").Reverse().ToList())
            {
                <partial name="_AcceptedOrderPartial" model="@order" />
            }
        </div>
        
    </div>
</div>

