@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Market.Models.BillingDetailsViewModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<form asp-action="Add" asp-controller="Billing" method="post" class="form">
    <h2>@Localizer["Title"]</h2>

    <div class="form-container">
        <input placeholder="@Localizer["FullName"]" asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="@Localizer["Address"]" asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="@Localizer["City"]" asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="@Localizer["PostalCode"]" asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="@Localizer["PhoneNumber"]" asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="@Localizer["Email"]" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="form-submit">@Localizer["Submit"]</button>
</form>


