@using Market.Data.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model BillingDetails

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class ="form">
    <form asp-action="Edit" asp-controller="Billing" method="post" class="gapped">
        <h2>@Localizer["Title"]</h2>

        <div class="form-container">
            <label for="FullName">@Localizer["FullName"]</label>
            <input value="@Model.FullName" asp-for="FullName" id="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="form-container">
            <label for="Address">@Localizer["Address"]</label>
            <input value="@Model.Address" asp-for="Address" id="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-container">
            <label for="City">@Localizer["City"]</label>
            <input value="@Model.City" asp-for="City" id="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-container">
            <label for="PostalCode">@Localizer["PostalCode"]</label>
            <input value="@Model.PostalCode" asp-for="PostalCode" id="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>

        <div class="form-container">
            <label for="PhoneNumber">@Localizer["PhoneNumber"]</label>
            <input value="@Model.PhoneNumber" asp-for="PhoneNumber" id="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-container">
            <label for="Email">@Localizer["Email"]</label>
            <input value="@Model.Email" asp-for="Email" id="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-buttons">
            <button type="submit" class="form-submit">@Localizer["Submit"]</button>

        </div>
    </form>

    <form asp-action="Delete" asp-controller="Billing" method="post" onsubmit="return confirm('@Localizer["ConfirmDelete"]');" class="delete-form">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="form-submit">@Localizer["Delete"]</button>
    </form>
</div>
