@using Market.Data.Models
@model User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
    string? profilePicture = ViewBag.profilePicture as string;
}
<section class="profile-section">
    <div class="profile-container">
        <img class="image-display" src="@profilePicture" alt="your profile image" />
        <div class="profile-data-container">
            <h2>@(User.IsInRole("Seller") ? ($"{Model.FirstName} {Model.LastName}") : ($"{Model.OrganizationName}, {Model.Town}"))</h2>
            @if(User.IsInRole("Seller"))
            {
                <h3>@(Model.Town + Localizer["BirthDate"] + Model.BirthDate + Localizer["Rating"] + string.Format("{0:0.00}", Model.Rating!))</h3>
            }
            <h3><i class="fa-solid fa-phone" style="font-size: 22px;"></i> @Model.PhoneNumber</h3>
            <p class="profile-description">@Model.Description</p>
            <a class="custom-file-upload" asp-action="Logout" asp-controller="User">@Localizer["Logout"]</a>
        </div>
    </div>
</section>



