@using Market.Models
@using Market.Data.Models
@model ProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    User user = Model.User;

    ViewData["Title"] = Localizer["PageTitle"];
    string? profilePicture = ViewBag.profilePicture as string;

    decimal rating = user.Rating;
    int fullStars = (int)rating; 
    bool hasHalfStar = (rating - fullStars) >= 0.5m;
    int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

    decimal ordersCount = user.SoldOrders.Count;
    decimal deliveredCount = user.SoldOrders.Where(x => x.Status == "Delivered").Count();
    int deliveryRate = (int)(deliveredCount / ordersCount * 100);
    int offersCount = user.Offers.Count;
    decimal stocksQuantityAvg = Model.Stocks!.Select(x => x.Quantity).Average();
    var quantityStatus = stocksQuantityAvg > 80 ? Localizer["Great"] : stocksQuantityAvg < 30 ? Localizer["Bad"] : Localizer["Ok"];
}

@* For sellers *@
<section class="profile-section">
    <div class="profile-container">
        
        <div class="profile-main">
            <div class="profile-info-container box-shadow">
                <div class="profile-header">
                    <img class="profile-picture box-shadow" src="@profilePicture" alt="Profile Picture" />
                    <div class="profile-header-text">
                        <h1 class="profile-header-text__name">@($"{user.FirstName} {user.LastName}")</h1>
                        <p class="profile-header-text__description">@user.Description</p>
                    </div>
                </div>

                <hr />

                <div class="profile-details">
                    <div class="profile-data-container">
                        <i class="fa-solid fa-location-dot"></i>
                        <h3>@user.Town</h3>
                    </div>
                    <div class="profile-data-container">
                        <i class="fa-solid fa-envelope"></i>
                        <h3>@user.Email</h3>
                    </div>
                    <div class="profile-data-container">
                        <i class="fa-solid fa-phone"></i>
                        <h3>@user.PhoneNumber</h3>
                    </div>
                    <div class="profile-data-container">
                        <i class="fa-solid fa-calendar"></i>
                        <h3>@user.BirthDate.ToString("dd.MM.yyyy")</h3>
                    </div>
                </div>
            </div>

            <div class="profile-stats-container">
                <div class="profile-stats">
                    <partial name="_StatisticPartial" model="@user.SoldOrders" />
                </div>
                <div class="profile-stats">
                    <partial name="_SalesGrowthPartial" model="@user.SoldOrders" />
                </div>
            </div>

            <div class="profile-summary-container">
                <div class="profile-summary-header">
                    <h1 class="profile-summary-header__title">@Localizer["Summary"]</h1>
                    <div class="profile-summary-header-rating-container">
                        @for (int i = 0; i < fullStars; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                        @if (hasHalfStar)
                        {
                            <i class="fas fa-star-half-alt"></i> 
                        }
                        @for (int i = 0; i < emptyStars; i++)
                        {
                            <i class="far fa-star"></i> 
                        }
                    </div>
                </div>
                
                <hr />
                
                <div class="profile-summary-main">
                    <div class="profile-summary-data-container">
                        <h3>@ordersCount @Localizer["Orders"]</h3>
                    </div>
                    <div class="profile-summary-data-container">
                        <h3>@(deliveryRate)% @Localizer["DeliveredOrders"]</h3>
                    </div>
                    <div class="profile-summary-data-container">
                        <h3>@(offersCount) @(Localizer["Offers"])</h3>
                    </div>
                    <div class="profile-summary-data-container">
                        <h3>@(quantityStatus) @(Localizer["StockQuantity"].Value)</h3>
                    </div>
                </div>

            </div>
        </div>

        <div class="profile-footer">
            <div class="profile-footer-widget-container">
                <div class="profile-footer-widget-header">
                    <h1 class="profile-footer-widhet-header__title">@Localizer["AvailableOffers"]:</h1>
                </div>

                <hr />

                <div class="gapped scrollable profile-footer-offers">
                    @foreach (var offer in Model.Offers!)
                    {
                        <partial name="_OfferPartial" model="@offer" />
                    }
                </div>
                
            </div>
            <div class="profile-footer-widget-container">
                <div class="profile-footer-widget-header">
                    <h1 class="profile-footer-widhet-header__title">@Localizer["RecentReviews"]:</h1>

                </div>

                <hr />

                <div class="gapped scrollable profile-footer-reviews">
                    @foreach (var review in Model.Reviews!)
                    {
                        <partial name="_ReviewPartial" model="@review" />
                    }
                </div>

            </div>
        </div>


        
    </div>
</section>



