@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon"   href="~/favicon.ico">
    <title>@ViewData["Title"] - Freshly</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/utilities.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/chats.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/help.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/inventory.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/orders.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/offers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/order_description.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/statistics.css" asp-append-version="true" />
    <link href="~/manifest.json" rel="manifest" />
    <link rel="stylesheet" href="~/Market.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Render the Styles section from individual pages -->
    @RenderSection("Styles", required: false) <!-- Make it optional -->
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="sidebar-container">
                <div class="row js-content-between align-items-center sidebar-header">
                    <a class="logo" asp-area="" asp-controller="Home" asp-action="Landing">Freshly</a>
                    <button class="return-button" onclick="history.back()">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>
                <ul class="sidebar-navigation">
                    @if(User.IsInRole("Seller"))
                    {
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="fa-solid fa-gauge sidebar-icon"></i>@Localizer["Dashboard"]</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Orders" asp-action="Index"><i class="fa-solid fa-truck sidebar-icon"></i>@Localizer["Orders"]</a>
                        </li>
                        <hr style="color: #636363" />
                        <a class="sidebar-link-mini" asp-area="" asp-controller="Orders" asp-action="Statistics">@Localizer["Statistics"]</a>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Offers" asp-action="Index"><i class="fa-brands fa-buffer sidebar-icon"></i>@Localizer["Offers"]</a>
                        </li>
                        <hr style="color: #636363" />
                        <a class="sidebar-link-mini" asp-area="" asp-controller="Offers" asp-action="AddOffer">@Localizer["AddNewOffer"]</a>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Inventory" asp-action="Index"><i class="fa-solid fa-warehouse sidebar-icon"></i>@Localizer["Inventory"]</a>
                        </li>
                        <hr style="color: #636363" />
                        <a class="sidebar-link-mini" asp-area="" asp-controller="Inventory" asp-action="Add">@Localizer["RegisterNewStock"]</a>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Reviews" asp-action="Index"><i class="fa-solid fa-star sidebar-icon"></i>@Localizer["Reviews"]</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Advertise" asp-action="Index"><i class="fa-solid fa-newspaper sidebar-icon"></i>@Localizer["Advertise"]</a>
                        </li>
                    }
                    else if(User.IsInRole("Organization"))
                    {
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Home"><i class="fa-solid fa-gauge sidebar-icon"></i>@Localizer["Home"]</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Offers" asp-action="Discover"><i class="fa-brands fa-buffer sidebar-icon"></i>@Localizer["Discover"]</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Orders" asp-action="History"><i class="fa-solid fa-history sidebar-icon"></i>@Localizer["History"]</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping sidebar-icon"></i>@Localizer["Cart"]</a>
                        </li>
                    }
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Chats" asp-action="Index"><i class="fa-solid fa-comments sidebar-icon"></i>@Localizer["Chats"]</a>
                    </li>
                    
                </ul>
                <div class="sidebar-bottom-row">
                    <a class="sidebar-help-link" asp-area="" asp-controller="Home" asp-action="Help">@Localizer["Help"]</a>
                    <partial name="_ToggleLanguage" />
                </div>
                

            </div>
            <div class="content">
                <header>
                    <form class="search-container">
                        <input class="search" placeholder="@Localizer["Search"]" />
                        <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass sidebar-icon"></i></button>
                    </form>
                    <div class="row">
                        <partial class="sidebar-login-partial" name="_LoginPartial" />
                        @if (User.IsInRole("Seller") || User.IsInRole("Organization"))
                        {
                            <div class="settings-container">
                                <button id="settings-btn"><i class="fa-solid fa-cog"></i></button>
                                <div id="settings-dropdown" class="dropdown-menu">
                                    <partial name="_ToggleLanguage" class="language-toggle-dark"/>
                                    <a href="/User/Logout">@Localizer["Logout"]</a>
                                </div>
                            </div>
                        }
                        <a href="javascript:void(0);" id="hamburger-icon" class="icon" onclick="toggleSidebar()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </header>
                <div class="page-container">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/site.js" asp-append-version="true"></script>

    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
