@using Market.Models.DTO
@model OrderDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Model.Price = Math.Round(Model.Price, 2);
}

<div class="order-partial-container">
    <div class="order-partial-info-container">
        <div class="order-partial-row-container">
            <h2 class="order-partial__title">@(Model.Title)</h2>
            <p class="order-partial-delivery-info hide-mobile">
                <i class="fa-solid fa-house"></i>
                @(Model.BillingDetails.City), @(Model.BillingDetails.Address)
            </p>
        </div>
        <div class="order-partial-row-container">
            <h3 class="order-partial__price">@(Model.Price) BGN.</h3>
            <h3 class="order-partial__quantity">@(Model.Quantity) KG</h3>
        </div>
    </div>

    <div class="order-partial-actions-container">
        <form asp-controller="Orders" asp-action="Approve" class="hide-mobile" method="get" asp-route-id="@Model.Id" clas>
            <button type="submit" class="accept-button">
                <i class="fa-solid fa-check"></i>
            </button>
        </form>

        <form asp-controller="Orders" asp-action="Decline" class="hide-mobile" method="get" asp-route-id="@Model.Id">
            <button type="submit" class="delete-button">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>

        <a class="order-partial-actions__details " asp-action="Description" asp-controller="Orders" asp-route-id="@Model.Id">
            @Localizer["ViewDetails"]
        </a>

    </div>
</div>