@using Market.Data.Models
@model Stock
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
}

<div>
    @{
        if (Model.Quantity < 25)
        {
            <h3 class="warning">@Localizer["LowStock"]</h3>
        }
    }
    <div class="offer-partial-container">
        <div>
            <h1>@Model.Title</h1>
            <h3>@(Model.Quantity + "kg")</h3>
        </div>

        <div class="offer-partial-form-buttons-container">
            <a class="offer-link" asp-controller="Inventory" asp-action="Up" asp-route-id="@Model.Id">
                <i class="fa-solid fa-angle-up"></i>
            </a>
            <a class="offer-link" asp-controller="Inventory" asp-action="Down" asp-route-id="@Model.Id">
                <i class="fa-solid fa-angle-down"></i>
            </a>
            <form asp-action="Delete" method="post" asp-route-id="@Model.Id">
                <button type="submit">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>

    </div>
</div>
