@using Market.Models
@using Market.Data.Models
@using Market.Models.DTO
@model OverviewViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
    string userId = ViewBag.UserId;
}

<section class="dashboard-section">
    <partial name="_TotalIncomePartial" model="@Model.Orders"/>
     <div class="coupled-widgets-2">
        <partial name="_NewOrdersPartial" model="@(Model.Orders)" />
        <partial name="_NewReviewsPartial" model="@(Model.Reviews)" />
     </div>
    <partial name="_AvgRatingPartial" model="@(Model.Reviews)"/>
    <partial class="add" name="_QuickActionPartial" model="@("add")"/>
    <partial class="search" name="_QuickActionPartial" model="@("search")" />
    <partial class="language" name="_QuickActionPartial" model="@("language")" />
    <partial class="help" name="_QuickActionPartial" model="@("help")" />
    <partial name="_OrdersStatPartial" model="@Model.Orders"/>
    <partial name="_StocksPartial" model="@(Model.Stocks)"/>
</section>
