@using Market.Data.Models
@using Market.Services
@using Market.Services.Cart
@inject ICartService _cartService
@inject IUserService _userService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home";
    List<Order> cart = _cartService.GetPurchase() ?? new List<Order>();
    List<Purchase> history = await _userService.GetUserBoughtPurchases();
    List<string>? urls = ViewBag.ImageURLs as List<string>;
}

<section class="home-section">
    <div class="discover-categories">
        <a class="category vegetables" category="Vegetables" asp-controller="Offers" asp-action="Discover" asp-route-category="Vegetables">
            <h2>@Localizer["Vegetables"]</h2>
        </a>
        <a class="category fruits" category="Fruits" asp-controller="Offers" asp-action="Discover" asp-route-category="Fruits">
            <h2>@Localizer["Fruits"]</h2>
        </a>
        <a class="category dairy" category="Dairy" asp-controller="Offers" asp-action="Discover" asp-route-category="Dairy">
            <h2>@Localizer["Dairy"]</h2>
        </a>
        <a class="category meat" category="Meat" asp-controller="Offers" asp-action="Discover" asp-route-category="Meat">
            <h2>@Localizer["Meat"]</h2>
        </a>
    </div>

    <div class="home">
        <div class="home-container">
            <h1 class="home-container__title">@Localizer["RPurchases"]</h1>
            <div class="home-container-items gapped">
                @foreach (Purchase purchase in history)
                {
                    <partial name="_SimpleHistoryPurchasePartial" model="@purchase" />
                }
            </div>
            <a class="action-button" asp-action="History" asp-controller="Orders">@Localizer["Details"]</a>
        </div>
        <div class="home-container">
            <h1 class="home-container__title">@Localizer["Cart"]</h1>
            <div class="home-container-items gapped">
                @foreach(Order order in cart)
                {
                    int index = cart.IndexOf(order);
                    <partial name="_SimpleCartOrderPartial" model="@(new CartOrderViewModel(order, urls[index], index))" />
                }
            </div>
            <a class="action-button" asp-action="Index" asp-controller="Cart">@Localizer["Details"]</a>
        </div>
    </div>
</section>

