@using Market.Models
@using Market.Data.Models
@using Market.Models.DTO
@model OverviewViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
    string userId = ViewBag.UserId;
}

<div class="overview-container">
    <div class="money">
        <partial name="_StatisticPartial" model="@Model.Orders" />
    </div>
    <div class="orders">
        <h2>
            @Localizer["IncomingOrders"]
        </h2>
        <a asp-action="Index" asp-controller="Orders">@Localizer["ForMoreInfo"]</a>
        <hr />
        <div class="orders gapped scrollable padded" style="height: 80%;">
            @foreach (OrderDTO order in Model.Orders.Where(x => x.IsAccepted == false && x.IsDenied == false).Reverse().ToList())
            {
                <partial name="_OrderPartial" model="@order" />
            }
        </div>
    </div>
    <div class="reviews">
        <h2>
            @Localizer["RecentReviews"]
        </h2>
        <a asp-action="Index" asp-controller="Reviews">@Localizer["ForMoreInfo"]</a>
        <hr />
        <div class="gapped padded">
            @foreach (Review review in Model.Reviews.Take(4).Reverse().ToList())
            {
                <partial name="_ReviewPartial" model="@review" />
            }
        </div>
    </div>
    <div class="stocks ">
        <h2>
            @Localizer["LowStocks"]
        </h2>
        <a asp-action="Index" asp-controller="Reviews">@Localizer["ForMoreInfo"]</a>
        <hr />
        <div class="gapped scrollable padded" style="height: 80%;">
            @foreach (Stock stock in Model.Stocks.OrderBy(x => x.Quantity).Take(4).Reverse().ToList())
            {
                <partial name="_StockPartial" model="@stock" />
            }
        </div>
    </div>
</div>

     