@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    ViewData["Title"] = "Landing";
}

<header>
    <div class="container">
        <h1>Freshly</h1>
        <nav>
            <a class="link" asp-action="Register" asp-controller="User">@Localizer["SignUp"]</a>
            <a class="button" asp-action="Login" asp-controller="User">@Localizer["SellerConsole"]</a>
        </nav>

        
        <a href="javascript:void(0);" id="hamburger-icon" class="icon" onclick="toggleNav()">
            <i class="fa fa-bars"></i>
        </a>

    </div>
    
</header>
<div id="hamburger-nav">
    <a class="link" asp-action="Register" asp-controller="User">@Localizer["SignUp"]</a>
    <a class="button" asp-action="Login" asp-controller="User">@Localizer["SellerConsole"]</a>
</div>
<main>
    <section id="hero-section">
        <div class="hero-container">
            <div class="hero-text-container">
                <h1 class="title">@Localizer["HeroTitle"]</h1>
                <p>@Localizer["HeroText"]</p>
                <br />
                <div class="flex-container">
                    <a href="https://apkpure.com/p/com.freshly.groceries" class="action-button" download="">@Localizer["Download"]</a>
                    <a asp-action="Register" asp-controller="User" class="empty-button">@Localizer["SellNow"]</a>
                </div>
            </div>
            <img class="image" width="400px" height="600px" src="~/Images/landing-hero.jpg" />
        </div>
    </section>
    <section id="how-section">
        <div class="section-container">
            <h2>@Localizer["HDIWTitle"]</h2>
            <div class="cards-container">
                <div class="card">
                    <i class="huge-icon fa-solid fa-cloud-arrow-down"></i>
                    <div>
                        <h2 class="card-title" style="margin: 30px;">@Localizer["HDIWCardTitle1"]</h2>
                        <p style="text-align:justify;">
                            @Localizer["HDIWCardText1"]
                        </p>
                    </div>
                </div>
                <div class="card">
                    <i class="huge-icon fa-solid fa-cart-shopping"></i>
                    <div>
                        <h2 class="card-title" style="margin: 30px;">@Localizer["HDIWCardTitle2"]</h2>
                        <p style="text-align:justify;">
                            @Localizer["HDIWCardText2"];
                        </p>
                    </div>
                </div>
                <div class="card">
                    <i class="huge-icon fa-solid fa-box"></i>
                    <div>
                        <h2 class="card-title" style="margin: 30px;">@Localizer["HDIWCardTitle3"]</h2>
                        <p style="text-align:justify;">
                            @Localizer["HDIWCardText3"].
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section id="benefits-section">
        <div class="section-container">
            <h2>@Localizer["WCUTitle"]</h2>
            <div class="flex-container why-us">
                <img class="image" width="600px" height="500px" src="~/Images/why-us.jpg" />
                <div class="benefits-text-container">
                    <div class="benefits-text">
                        <h3>@Localizer["WCUCardTitle1"]</h3>
                        <p>@Localizer["WCUCardText1"].</p>
                    </div>
                    <div class="benefits-text">
                        <h3>@Localizer["WCUCardTitle2"]</h3>
                        <p>@Localizer["WCUCardText2"]</p>
                    </div>
                    <div class="benefits-text">
                        <h3>@Localizer["WCUCardTitle3"]</h3>
                        <p>@Localizer["WCUCardText3"]</p>
                    </div>
                    <div class="cta-container">
                        <h2>@Localizer["AUR"]</h2>
                        <div class="flex-container">
                            <a href="https://apkpure.com/p/com.freshly.groceries" class="action-button" download>@Localizer["Download"]</a>
                            <a asp-action="Register" asp-controller="User" class="empty-button">@Localizer["SellNow"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="feedback-section">
        <div class="section-container">
            <h2>@Localizer["FeedbackTitle"]</h2>
            <div class="feedback-carousel">
                <div class="feedback-card">
                    <div class="feedback-header">
                        <div class="rating">
                            <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                        <h4 class="name">- @Localizer["FBName1"]</h4>
                    </div>
                    <p class="comment">@Localizer["FBComment1"]</p>
                </div>
                <div class="feedback-card">
                    <div class="feedback-header">
                        <div class="rating">
                            <span>&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                        </div>
                        <h4 class="name">- @Localizer["FBName2"]</h4>
                    </div>
                    <p class="comment">@Localizer["FBComment2"]</p>
                </div>
                <div class="feedback-card">
                    <div class="feedback-header">
                        <div class="rating">
                            <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                        <h4 class="name">- @Localizer["FBName3"]</h4>
                    </div>
                    <p class="comment">@Localizer["FBComment3"]</p>
                </div>
            </div>
        </div>
    </section>


    <section id="faq-section">
        <div class="section-container">
            <h2>@Localizer["FAQTitle"]</h2>
            <div class="faq-container">
                <div class="faq">
                    <div class="faq-text">
                        <h3>@Localizer["FAQCardTitle1"]</h3>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <p style="display: none;">
                        @Localizer["FAQCardText1"]
                    </p>
                </div>
                <div class="faq">
                    <div class="faq-text">
                        <h3>@Localizer["FAQCardTitle2"]</h3>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <p style="display: none;">
                        @Localizer["FAQCardText2"]
                    </p>
                </div>
                <div class="faq">
                    <div class="faq-text">
                        <h3>@Localizer["FAQCardTitle3"]</h3>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <p style="display: none;">
                        @Localizer["FAQCardText3"]
                    </p>
                </div>
                <div class="faq">
                    <div class="faq-text">
                        <h3>@Localizer["FAQCardTitle4"]</h3>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <p style="display: none;">
                        @Localizer["FAQCardText4"]
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#hero-section">Home</a></li>
                <li><a href="#how-section">How?</a></li>
                <li><a href="#benefits-section">Benefits</a></li>
                <li><a href="#faq-section">FAQ</a></li>
                <partial name="_ToggleLanguage" />
            </ul>
        </div>

        <div class="footer-section">
            <h4>Contact Information</h4>
            <ul>
                <li>Email: <a href="mailto:support@freshly-groceries.com">support@freshly-groceries.com</a></li>
            </ul>
            <h4><i class="fa-brands fa-github"></i> Source Code</h4>
            <div class="footer-github">
                <a href="https://github.com/gabigoranov/farmers-market">Github</a>
            </div>
        </div>

        <div class="footer-section">
            <h4>Image Credits</h4>
            <ul>
                <li><a href="https://www.pexels.com" >Pexels</a></li>
                <li><a href="https://www.freepik.com/">Freepik</a></li>
                <li><a href="https://www.pixabay.com" >Pixabay</a></li>
                <li><a href="https://www.flaticon.com" >Flaticon</a></li>
            </ul>
            
        </div>
        <div class="footer-section">
            <div class="footer-links">
                <h4>Legal Information</h4>
                <ul>
                    <li><a href="~/policies/terms-of-service-english" download="Terms_of_Service_English.pdf">Terms of Service (EN)</a></li>
                    <li><a href="~/policies/privacy-policy-english" download="Privacy_Policy_English.pdf">Privacy Policy (EN)</a></li>
                    <li><a href="~/policies/terms-of-service-bulgarian" download="Terms_of_Service_Bulgarian.pdf">Общите условия (BG)</a></li>
                    <li><a href="~/policies/privacy-policy-bulgarian" download="Privacy_Policy_Bulgarian.pdf">Политиката за конфиденциалност (BG)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Freshly-Groceries. All rights reserved.</p>
    </div>
</footer>

<script>
    let faqs = document.getElementsByClassName("faq");
    for (let faq of faqs) {
        faq.addEventListener("mouseover", () => {
            faq.style.height = "250px";
            faq.children[0].children[1].className = "fa-solid fa-angle-up";
            faq.children[1].style = "display: block;";

        });
        faq.addEventListener("mouseout", () => {
            faq.style.height = "60px";
            faq.children[0].children[1].className = "fa-solid fa-angle-down";
            faq.children[1].style = "display: none;";

        });
    }

    function toggleNav() {
        var x = document.getElementById("hamburger-nav");
        var icon = document.getElementById("hamburger-icon");
        if (x.style.display === "flex") {
            x.style.display = "none";
            icon.children[0].className = "fa fa-bars";
            
        } else {
            x.style.display = "flex";
            icon.children[0].className = "fa-solid fa-xmark";
        }
    }
</script>