@using Market.Data.Models
@model StockViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
    List<OfferType> offerTypes = ViewBag.OfferTypes;

}

<form class="form" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <input asp-for="Title" placeholder="@Localizer["Title"]" aria-required="true" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-container">
        <select asp-for="OfferTypeId" class="modern-select">
            @foreach(var offerType in offerTypes)
            {
                <option value="@offerType.Id">@offerType.Name</option>

            }
        </select>
    </div>
    <div class="form-container">
        <input asp-for="Quantity" placeholder="@Localizer["Quantity"]" aria-required="true" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <button class="form-submit" type="submit">@Localizer["Submit"]</button>
</form>
